<h2>Your Search Results: </h2>
<h3>Movie Title: <%= @title %> </h3>

<p>
  Runtime <%= @runtime %>
  Director <%= @director %>
  Released Year <%= @year %>
</p>
<img src="<%=@poster %>"/>


<!-- <%= @results %> -->
